.page-card {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
  padding-bottom: 3%;
  border-radius: 30px;
}

.registration-header {
  text-align: center;
  font-size: 35px;
  font-weight: bolder;
}

.registration-form-body {
  width: 50%;
}

.mb-10 {
  margin-bottom: 10px;
}

.registration-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registration-submit:hover {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
  border-radius: 4px;
}

.registration-error-message {
  color: red;
  font-size: 12px;
  padding-top: 0;
  margin-top: 0;
  margin-left: 10px;
}

.profile-body {
  margin-left: 15%;
}

.profile-left-col {
  width: 30%;
  float: left;
  margin-top: 5%;
}

.profile-right-col {
  width: 70%;
  float: left;
  margin-top: 5%;
}

.profile-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  color: white;
  margin-top: 20px;
  transition: 0.3s;
}

.profile-back:hover {
  background-color: white;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  border-radius: 50%;
  cursor: pointer;
}